name: Bump Package Version

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  bump-version:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      - name: Bump version
        run: yarn bump-version

      - name: Commit and push changes
        run: |
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git add package.json
            if git diff --cached --quiet; then
              echo "No version change."
            else
              git commit -m "chore(release): bump version [skip ci]"
              git push
              VERSION=$(node -p "require('./package.json').version")
              git tag "v${VERSION}"
              git push origin "v${VERSION}"
            fi
