name: Run Tests

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  test:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      - name: Run tests with coverage
        run: yarn vitest run --coverage

      - name: Check package version matches tag
        run: yarn check-version
      

    #   - name: Upload coverage to Codecov
    #     uses: codecov/codecov-action@v5
    #     with:
    #       files: coverage/coverage-final.json
    #       token: ${{ secrets.CODECOV_TOKEN }}  # optional if public repo
